services:
  php:
    build: .
    image: app-php
    ports:
      - "80:80" # HTTP
      - "443:443" # HTTPS
    volumes:
      - ./:/app
      - caddy_data:/data
      - caddy_config:/config

  database:
    image: mysql:8.0
    container_name: docker-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  elasticsearch:
    image: elasticsearch:8.10.2
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9201:9200"

  logstash:
    image: logstash:8.10.2
    volumes:
      - ./config/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    ports:
      - "5000:5000/udp"
    depends_on:
      - elasticsearch

  kibana:
    image: kibana:8.10.2
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

volumes:
  caddy_data:
  caddy_config:
  mysql_data:







  #docker-compose.prod.yaml - build dans la CI //repo cloud
  #.env mauvais chargement en asynchrone, utiliser docker sercret ?